## Data Exploration

In [3]:
import pandas as pd
import os

os.chdir('/home/pier/Machine_Learning/fifa18_final16')
df_results = pd.read_csv('data/results.csv')
df_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

# Get Korea - Germany Matches

In [11]:
df_korea_germany = df_results[(df_results['home_team'].str.contains("Korea")) | (df_results['away_team'].str.contains("Korea"))]

In [14]:
df_kr_gr = df_korea_germany[(df_korea_germany['home_team'].str.contains("Germany")) | (df_korea_germany['away_team'].str.contains("Germany"))]

In [15]:
df_kr_gr

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
18299,1994-06-27,Germany,Korea Republic,3,2,FIFA World Cup,Dallas,USA,True
24729,2002-06-25,Korea Republic,Germany,0,1,FIFA World Cup,Seoul,Korea Republic,False
27093,2004-12-19,Korea Republic,Germany,3,1,Friendly,Busan,Korea Republic,False

We will only date back 10 years taking line-up changes into consideration

In [17]:
os.chdir('/home/pier/Machine_Learning/fifa18_final16')
df_rankings = pd.read_csv('data\fifa_ranking.csv')

FileNotFoundError: File b'data\x0cifa_ranking.csv' does not exist